<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <base href="/" />
  <link type="text/css" href="public/styles/index.css" rel="stylesheet" media="all" />
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>App</title>
</head>
<body>
  {{> header}}
  <main>
    <div class="entries">
      {{#each pageData.entries}}
        <div class="product-card">
          <div class="product-image-wrapper">
            <img class="product-image" src="{{this.image}}" alt="{{this.title}}"/>
          </div>
          <h3>
            {{this.title}}
          </h3>
          <div class="description">
            {{{this.description}}}
          </div>
        </div>
      {{/each}}
    </div>
  </main>
</body>
</html>
